@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

:root {
  --accent: #ff0000a6;
  --default: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--accent);
  height: 100vh;
  justify-content: center;
  padding: 32px;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Gilroy-Medium';
}

header {
  display: flex;
  justify-content: center;
}

.header {
  margin-bottom: 30px;
  text-align: center;
  background: white;
  width: 300px;
  border-radius: 16px;
  padding: 5px 5px;
  color: #0a0a0a;
}

.taskboard {
  display: flex;
  justify-content: center;
}

.taskboard__container {
  padding: 32px;
  background-color: #fff;
  width: 70vw;
  border-radius: 16px;
}

.taskboard__content {
  position: relative;
}

.taskboard__options {
  position: absolute;
  right: 0;
  top: 10px;
  width: 150px;
  height: 30px;
  background-color: #fadada;
  border: 1px solid var(--accent);
  border-radius: 8px;
  font-weight: 300;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
}

.taskboard__count {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  position: relative;
}

.taskboard__new {
  --size: 45px;
  display: flex;
  margin: 16px 0 32px;
}

.taskboard__new input {
  margin-right: 16px;
  font-size: 27px;
  padding: 8px 16px;
  height: var(--size);
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  background-color: #fadada;
}

.taskboard__add {
  cursor: pointer;
  text-align: center;
  height: var(--size);
  width: var(--size);
  border-radius: var(--size);
  line-height: calc(var(--size) * 0.99);
  font-size: 32px;
  font-weight: 200;
  background: var(--accent);
  color: white;
}

.taskboard__task-del {
  cursor: pointer;
  background-image: url(../img/trash.svg);
  width: 30px;
  height: 35px;
  display: none;
  margin-left: auto;
  margin-right: 5px;
}

.taskboard__list  > *:not(:last-child) {
  margin-bottom: 16px;
}

.taskboard__task_selected {
  background-color: var(--accent);
  color: white;
  border-radius: 8px;
}

.taskboard__task_selected label {
  visibility: hidden;
}

.taskboard__task_selected .taskboard__task-del {
  visibility: hidden;
}

.taskboard__task {
  --size: 36px;
  min-height: var(--size);
  display: flex;
  align-items: center;
  cursor: default;
}

.taskboard__task:hover .taskboard__task-del {
  display: block;
}

.taskboard__task_complete .taskboard__task-text {
  text-decoration: line-through;
  color: var(--default);
}

.taskboard__checkbox {
  margin-right: 16px;
}

.taskboard__checkbox input {
  display: none;
}

.taskboard__checkbox div {
  height: 28px;
  width: 28px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.taskboard__checkbox input:checked + div {
  background-color: var(--accent);
  background-image: url(../img/checkmark.svg);
}

.taskboard__checkbox div::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.taskboard__task-text {
  font-size: 27px;
}

.taskboard__management {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  top: 55px;
}

.taskboard__delete-all {
  cursor: pointer;
  background-image: url(../img/trash.svg);
  width: 30px;
  height: 35px;
  margin-right: 10px;
}

.taskboard__complete-all {
  height: 30px;
  width: 30px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--accent);
  background-image: url(../img/checkmark.svg);
}
